<style>
        teste{
        enfeite
        }
        h1{
        text-align: center;
        }
        body {
        background-color: lightgoldenrodyellow;
        font-family: Arial;
        font-size: 20px;
        }
        h2{
        text-align: center
        }
        p{
        color: purple
        }
        ol{
        color: purple;
        }
        ul{
        color: purple;
        }
</style>